body {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  hyphens: auto;
}

.Navbar {
  display: flex;
  width: auto;
  padding: 1rem;
}

.Navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.Main {
  padding: 0rem 2rem;
  background: transparent;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(100px);
}
