body {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  hyphens: auto;
  max-width: 75rem;
  margin: 0 auto;
}

.Main {
  padding: 0rem 2rem;
  background: transparent;
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(100px);
}
