---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Notas de la versión 1.0.0"
  description="Notas de la versión 1.0.0 del sistema de optimización de rutas"
>
  <div
    class="csg-wrapper"
    style="
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        vertical-align: baseline;
      "
  >
    <h1
      class="csg-h1"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 29px;
          line-height: 1.1;
          margin-top: 40px;
          letter-spacing: -0.01em;
        "
    >
      Notas de la versión - JOURNEYS - v1.0.0
    </h1>
    <h2
      class="csg-h2"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 24px;
          line-height: 1.17;
          margin-top: 36px;
          font-weight: 500;
          letter-spacing: -0.01em;
        "
    >
      Historia
    </h2>
    <h3
      class="csg-h3"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          letter-spacing: -0.008em;
        "
    >
      <a
        href="https://dlamas1298.atlassian.net/browse/JOUR-5"
        class="csg-mark-link"
        style="
            border: none;
            background: transparent;
            color: #f9802d;
            text-decoration: none;
          "
        >JOUR-5</a
      >
      Log In con Credenciales
    </h3>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Descripción
    </h5>
    <p
      class="csg-p"
      style="
          margin: 0;
          padding: 0px;
          margin-bottom: 7px;
          padding-top: 7px;
          mso-line-height-rule: exactly;
          line-height: 24px;
          font-size: 14px;
        "
    >
      Como usuario personal o empresa, necesito autenticar mi usuario en el
      sistema, para ser identificado de manera única y tener acceso a las
      funcionalidades correspondiente de mi rol.
    </p>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Criterio de aceptación
    </h5>
    <ol class="csg-ol" start="1" style="margin-top: 12px; margin-bottom: 12px">
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Debe existir una pantalla de inicio de sesión que contemple un
          formulario para el ingreso de las credenciales de acceso a la
          aplicación.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Se debe hacer que la pantalla siga un diseño adaptable de manera que
          se pueda abrir en dispositivos móviles, tablets, laptops y desktops.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Las credenciales de acceso al sistema son:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Email: campo obligatorio de tipo email.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Contraseña: campo obligatorio de tipo password.
            </p>
          </li>
        </ol>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          No se deben validar que las credenciales de acceso sigan algún otro
          patrón o criterio ademas del especificado en el inciso 3.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Al enviar el formulario, el sistema debe verificar que las
          credenciales de acceso coincidan con las de algún usuario registrado.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          En caso de que las credenciales de acceso sean correctas se debe
          redireccionar al usuario al INICIO o PANEL DE CONTROL de la
          aplicación.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          En caso de que las credenciales de acceso sean incorrectas se debe
          mostrar una notificación al usuario indicando que los datos ingresados
          son inválidos.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          La aplicación debe ser capaz de hacer la distinción entre usuarios
          personales y usuarios empresa permitiendo el acceso a ambos tipos.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          La aplicación no debe permitir acceder a las funcionalidades
          correspondientes del rol si no se ha autenticado.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          En caso de encontrarse una sesión activa, no se debe permitir al
          usuario navegar a esta funcionalidad y se debe redireccionar al
          usuario automáticamente al INICIO o PANEL DE CONTROL de la aplicación.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Las sesiones por defecto deben caducar pasado 1 día.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          En la pantalla de inicio de sesión se debe proporcionar al usuario la
          posibilidad de recuperar la contraseña y generar sesiones largas por
          periodos de hasta un mes.
        </p>
      </li>
    </ol>
    <h3
      class="csg-h3"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          letter-spacing: -0.008em;
        "
    >
      <a
        href="https://dlamas1298.atlassian.net/browse/JOUR-8"
        class="csg-mark-link"
        style="
            border: none;
            background: transparent;
            color: #f9802d;
            text-decoration: none;
          "
        >JOUR-8</a
      >
      Sign Up
    </h3>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Descripción
    </h5>
    <p
      class="csg-p"
      style="
          margin: 0;
          padding: 0px;
          margin-bottom: 7px;
          padding-top: 7px;
          mso-line-height-rule: exactly;
          line-height: 24px;
          font-size: 14px;
        "
    >
      Como usuario personal o empresa, necesito registrarme en la aplicación,
      para acceder a sus servicios.
    </p>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Criterio de aceptación
    </h5>
    <ol class="csg-ol" start="1" style="margin-top: 12px; margin-bottom: 12px">
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Debe existir una pantalla dentro de la aplicación que permita
          registrar un usuario ya sea personal o empresa.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Se debe hacer que la pantalla siga un diseño adaptable de manera que
          se pueda abrir en dispositivos móviles, tablets, laptops y desktops.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Los campos de registro para un usuario personal son:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Email: campo obligatorio de tipo email.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Nombre: campo obligatorio de tipo texto con caracteres no
              superiores a 255.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Apellido: campo obligatorio de tipo texto con caracteres no
              superiores a 255.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Contraseña: campo obligatorio de tipo password que siga el patrón
              de al menos 1 letra mayúscula, 1 letra minúscula, 1 numero, 1
              carácter especial y 8 dígitos.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Repetir contraseña: campo obligatorio de tipo password con
              validación respecto del campo definido en (d).
            </p>
          </li>
        </ol>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Los campos de registro para un usuario empresa son:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Email: campo obligatorio de tipo email.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Razón social: campo obligatorio de tipo texto con caracteres no
              superiores a 255.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              CUIT: campo obligatorio de tipo texto que incluya una mascara con
              la cantidad de caracteres necesarios.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Manager: campo obligatorio de tipo texto con caracteres no
              superiores a 255.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Contraseña: campo obligatorio de tipo password que siga el patrón
              de al menos 1 letra mayúscula, 1 letra minúscula, 1 numero, 1
              carácter especial y 8 dígitos.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Repetir contraseña: campo obligatorio de tipo password con
              validación respecto del campo definido en (e).
            </p>
          </li>
        </ol>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Al momento de realizar un registro se debe enviar un email de
          verificación para la cuenta con expiración de una semana (esto se debe
          enviar al correo proporcionado en el registro).
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Dado el caso que haya expirado el enlace de verificación el usuario
          podrá reenviarlo mediante una sección dentro de la aplicación.
        </p>
      </li>
    </ol>
    <h3
      class="csg-h3"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          letter-spacing: -0.008em;
        "
    >
      <a
        href="https://dlamas1298.atlassian.net/browse/JOUR-9"
        class="csg-mark-link"
        style="
            border: none;
            background: transparent;
            color: #f9802d;
            text-decoration: none;
          "
        >JOUR-9</a
      >
      Log In con Google
    </h3>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Descripción
    </h5>
    <p
      class="csg-p"
      style="
          margin: 0;
          padding: 0px;
          margin-bottom: 7px;
          padding-top: 7px;
          mso-line-height-rule: exactly;
          line-height: 24px;
          font-size: 14px;
        "
    >
      Como usuario personal o empresa, necesito autenticarme mediante los
      servicios de Google, para facilitarme el uso y acceso a la aplicación.
    </p>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Criterio de aceptación
    </h5>
    <ol class="csg-ol" start="1" style="margin-top: 12px; margin-bottom: 12px">
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          En la pantalla de inicio de sesión se debe agregar un botón que
          indique el acceso mediante Google.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Al iniciar sesión mediante Google se debe:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              En caso de que exista un usuario con el correo electrónico
              seleccionado, vincular el usuario con la cuenta de google y
              verificar la cuenta.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              En caso de que no exista un usuario con el correo electrónico
              seleccionado, crear el usuario con los datos recuperados de google
              y la cuenta verificada. Posteriormente se debe redireccionar a una
              pantalla para completar datos faltantes de la cuenta, como tipo de
              usuario y datos del perfil.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Los datos a recuperar de google son:
            </p>
            <ol
              class="csg-ol"
              start="1"
              style="
                  margin-top: 0px;
                  margin-bottom: 0px;
                  list-style-type: lower-roman;
                "
            >
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Email
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Token de acceso
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Token de refresco
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Proveedor
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Identificador del proveedor
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Imagen
                </p>
              </li>
            </ol>
          </li>
        </ol>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          La pantalla para completar los datos faltantes de la cuenta debe
          contemplar lo requerido para la modificación del propio usuario, como:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              El tipo de usuario: personal o empresa.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              En el caso del usuario personal se debe solicitar los siguientes
              campos:
            </p>
            <ol
              class="csg-ol"
              start="1"
              style="
                  margin-top: 0px;
                  margin-bottom: 0px;
                  list-style-type: lower-roman;
                "
            >
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Nombre: campo obligatorio de tipo texto.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Apellido: campo obligatorio de tipo texto.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  DNI: campo opcional de tipo texto que permita ingresar
                  únicamente números tomando entre 7 y 8 caracteres sin incluir
                  puntos.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Teléfono: campo opcional de tipo texto con máscara para número
                  de teléfono (xxx xxxxxxx), no incluir +54.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Dirección: campo opcional de tipo texto que incluya un
                  autocomplete mediante Google Places.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Fecha de nacimiento: campo opcional de tipo texto con máscara
                  para fechas de nacimiento (dd/mm/aa) y que solo permita
                  ingresar números.
                </p>
              </li>
            </ol>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              En el caso del usuario empresa se debe solicitar los siguientes
              campos:
            </p>
            <ol
              class="csg-ol"
              start="1"
              style="
                  margin-top: 0px;
                  margin-bottom: 0px;
                  list-style-type: lower-roman;
                "
            >
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Razón social: campo obligatorio de tipo texto.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  CUIT: campo obligatorio de tipo texto con máscara para CUITs
                  (xx-xxxxxxxx-x) con longitud de 13 caracteres solo numéricos y
                  dos guiones.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Teléfono: campo opcional de tipo texto con máscara para número
                  de teléfono (xxx xxxxxxx), no incluir +54.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Manager: campo obligatorio de tipo texto.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Correo electrónico del manager: campo opcional de tipo email.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Teléfono del manager: campo opcional de tipo texto con máscara
                  para número de teléfono (xxx xxxxxxx), no incluir +54.
                </p>
              </li>
            </ol>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Al finalizar este proceso de forma exitosa se debe redireccionar
              al usuario al HOME o PANEL DE CONTROL de la aplicación.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              En caso de fallar el proceso se debe mostrar una notificación al
              usuario adjuntando el motivo del error.
            </p>
          </li>
        </ol>
      </li>
    </ol>
    <h3
      class="csg-h3"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          letter-spacing: -0.008em;
        "
    >
      <a
        href="https://dlamas1298.atlassian.net/browse/JOUR-10"
        class="csg-mark-link"
        style="
            border: none;
            background: transparent;
            color: #f9802d;
            text-decoration: none;
          "
        >JOUR-10</a
      >
      Log Out
    </h3>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Descripción
    </h5>
    <p
      class="csg-p"
      style="
          margin: 0;
          padding: 0px;
          margin-bottom: 7px;
          padding-top: 7px;
          mso-line-height-rule: exactly;
          line-height: 24px;
          font-size: 14px;
        "
    >
      Como usuario personal o empresa, necesito cerrar sesión en la aplicación,
      para proteger mi cuenta.
    </p>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Criterio de aceptación
    </h5>
    <ol class="csg-ol" start="1" style="margin-top: 12px; margin-bottom: 12px">
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Debe existir uno o varios lugares dentro de la aplicación que permitan
          al usuario autenticado cerrar la sesión activa.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Una vez que se haya cerrado sesión no se debe permitir al usuario
          acceder a las funcionalidades especificas de su rol.
        </p>
      </li>
    </ol>
    <h3
      class="csg-h3"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          letter-spacing: -0.008em;
        "
    >
      <a
        href="https://dlamas1298.atlassian.net/browse/JOUR-87"
        class="csg-mark-link"
        style="
            border: none;
            background: transparent;
            color: #f9802d;
            text-decoration: none;
          "
        >JOUR-87</a
      >
      Forgot Password
    </h3>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Descripción
    </h5>
    <p
      class="csg-p"
      style="
          margin: 0;
          padding: 0px;
          margin-bottom: 7px;
          padding-top: 7px;
          mso-line-height-rule: exactly;
          line-height: 24px;
          font-size: 14px;
        "
    >
      Como usuario personal o empresa, necesito recuperar mi contraseña de
      acceso a la aplicación, en caso de no recordar la misma; para poder seguir
      utilizando mi cuenta de usuario.
    </p>
    <h5
      class="csg-h5"
      style="
          font-style: inherit;
          color: #000;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.14;
          margin-top: 20px;
          letter-spacing: -0.003em;
        "
    >
      Criterio de aceptación
    </h5>
    <ol class="csg-ol" start="1" style="margin-top: 12px; margin-bottom: 12px">
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Se contara con dos pantallas en la aplicación:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              ¿Olvidaste tu contraseña?
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Restablecer contraseña
            </p>
          </li>
        </ol>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Se debe hacer que ambas pantallas sigan un diseño adaptable de manera
          que se pueda abrir en dispositivos móviles, tablets, laptops y
          desktops.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Debe existir una sección dentro del login que redireccione a la
          pantalla: ¿Olvidaste tu contraseña?.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          En la pantalla ¿Olvidaste tu contraseña? se debe:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Mostrar un campo de tipo email para que el usuario ingrese el
              correo electrónico para el cual desea recuperar la contraseña.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Mostrar un botón para enviar el formulario.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Validar que el campo de tipo email corresponda a un email y que el
              mismo se encuentre registrado en la base de datos de la
              aplicación.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Mostrar un error en el campo en caso que el email no corresponda
              al formato adecuado.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Incluir información que le indique al usuario la forma en la que
              podra restablecer su contraseña.
            </p>
          </li>
        </ol>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Cuando el usuario envié el formulario de la pantalla ¿Olvidaste tu
          contraseña?, y este resulte valido, se debe disparar un mail al correo
          electrónico proporcionado que incluya un enlace que permita la
          redirección a la pantalla Restablecer contraseña.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          El enlace enviado al correo electrónico debe incluir un token con
          expiración de 10 minutos.
        </p>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          En la pantalla Restablecer contraseña se debe:
        </p>
        <ol
          class="csg-ol"
          start="1"
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              list-style-type: lower-alpha;
            "
        >
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Mostrar los siguientes campos:
            </p>
            <ol
              class="csg-ol"
              start="1"
              style="
                  margin-top: 0px;
                  margin-bottom: 0px;
                  list-style-type: lower-roman;
                "
            >
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Contraseña: campo de tipo password que siga el patrón de al
                  menos 1 letra mayúscula, 1 letra minúscula, 1 numero, 1
                  carácter especial y 8 dígitos.
                </p>
              </li>
              <li class="csg-li" style="margin-top: 4px">
                <p
                  class="csg-p"
                  style="
                      margin: 0;
                      padding: 0px;
                      mso-line-height-rule: exactly;
                      line-height: 24px;
                      font-size: 14px;
                      margin-bottom: 0px;
                      padding-top: 0px;
                    "
                >
                  Repetir contraseña: campo de tipo password con validación
                  respecto del campo definido en el inciso (i).
                </p>
              </li>
            </ol>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              No se deben validar que los campos sigan algún otro patrón o
              criterio ademas del especificado en el inciso (a).
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Mostrar un botón para enviar el formulario.
            </p>
          </li>
          <li class="csg-li" style="margin-top: 4px">
            <p
              class="csg-p"
              style="
                  margin: 0;
                  padding: 0px;
                  mso-line-height-rule: exactly;
                  line-height: 24px;
                  font-size: 14px;
                  margin-bottom: 0px;
                  padding-top: 0px;
                "
            >
              Mostrar información adecuada para el caso.
            </p>
          </li>
        </ol>
      </li>
      <li class="csg-li" style="margin-top: 4px">
        <p
          class="csg-p"
          style="
              margin: 0;
              padding: 0px;
              mso-line-height-rule: exactly;
              line-height: 24px;
              font-size: 14px;
              margin-bottom: 0px;
              padding-top: 0px;
            "
        >
          Cuando se envié el formulario de la pantalla Restablecer contraseña se
          debe mostrar un error en caso que el token del enlace haya expirado.
        </p>
      </li>
    </ol>
  </div>
</Layout>
