---
const currentPath = Astro.url.pathname;
---

<nav class="Navbar">
  <a href="/" class={currentPath === "/" ? "active" : ""}>Inicio</a>
  <a href="/v1.0.0" class={currentPath === "/v1.0.0" ? "active" : ""}
    >Versión 1.0.0</a
  >
  <a href="/v1.1.0" class={currentPath === "/v1.1.0" ? "active" : ""}
    >Versión 1.1.0</a
  >
  <a href="/v1.2.0" class={currentPath === "/v1.2.0" ? "active" : ""}
    >Versión 1.2.0</a
  >
</nav>

<style>
  .Navbar {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  .Navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
    text-transform: uppercase;
  }

  .Navbar a:hover {
    color: #f9802d;
  }

  .Navbar a.active {
    color: #f9802d;
  }
</style>
