---
import { ClientRouter } from "astro:transitions";
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter></ClientRouter>
	</head>
	<body>
		<nav class="navbar">
			<a href="/">Inicio</a>
			<a href="/v1.0.0">Versión 1.0.0</a>
			<a href="/v1.1.0">Versión 1.1.0</a>
			<a href="/v1.2.0">Versión 1.2.0</a>
		</nav>
		<main class="main">
			<slot />
		</main>
	</body>
</html>


